{% extends 'layout.html' %}
{% block content %}
        
        <main class="grid justify-items-center items-center w-screen md:min-h-screen bg-white">
            <section class="container grid gap-5 border border-hoverBackgroundColor border-solid w-11/12 my-10 md:my-0 md:w-5/12 py-5 px-10 rounded-lg">
                <div class="text-black">
                    <h2 class="text-2xl font-semibold text-primaryDark">Sign In With</h2>
                </div>
                <hr>
    
                <div class="grid gap-4">
                    
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                            <div class="flex justify-between items-center border-2 border-solid border-red-700 px-6 pb-3 py-2 text-red-700 text-lg rounded-md font-semibold leading-5" onclick="(function(){event.target.style.display = 'none';return false;})()">
                                <p>{{ message }}</p>
                                <button class="flex justify-center items-center font-medium"><i class="fa fa-close"></i></button>
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                            <div class="flex justify-between items-center border-2 border-solid border-green-500 px-6 py-2 text-green-500 text-lg rounded-md font-semibold leading-5" onclick="(function(){event.target.style.display = 'none';return false;})()">
                                <p>{{ message }}</p>
                                <button class="flex justify-center items-center font-medium"><i class="fa fa-close"></i></button>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form action="{% url 'auth_app:login' %}" method="post" class="grid gap-4">
                        {% csrf_token %}
                        <div class="grid gap-2">
                            <label class="text-lg text-primaryDark font-medium" for="">Username</label>
                            <input type="text" class="outline-none focus:bg-headerBg text-lg px-4 py-1 pb-2 border border-gray-300 border-solid rounded w-full focus:border-gray-500" name="username">
                        </div>
                        <div class="grid gap-2">
                            <label class="text-lg text-primaryDark font-medium" for="">Password</label>
                            <input type="password" class="outline-none focus:bg-headerBg text-lg px-4 py-1 pb-2 border border-gray-300 border-solid rounded w-full focus:border-gray-500" name="password">
                        </div>
                        <div class="grid gap-2">
                            <input class="outline-none text-lg font-medium px-4 py-1 pb-2 bg-primary cursor-pointer hover:bg-primaryDark text-white text-base rounded" type="submit" value="Sign In">
                        </div>
                        <a href="{% url 'auth_app:register' %}" class="text-center text-base text-primary">Register Account</a>
                    </form>
                </div>
            </section>
        </main>

{% endblock %}