{% extends 'layout.html' %}
{% block content %}

        <!-- destinations -->

        {% include './utils/destination-list.html' %}

        <!-- destinations -->
    <div class="container mx-auto my-4 text-lg flex justify-center gap-2">
        <span class="flex justify-center gap-4">
            {% if page_obj.has_previous %}
                <a class="pb-1 px-3 text-slate-600 rounded-md border border-solid border-slate-300" href="?page=1">&laquo; first</a>
                <a class="pb-1 px-3 text-slate-600 rounded-md border border-solid border-slate-300" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current font-medium">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="pb-1 px-3 text-slate-600 rounded-md border border-solid border-slate-300" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="pb-1 px-3 text-slate-600 rounded-md border border-solid border-slate-300" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}