{% block content %}

<section class="min-h-screen grid gap-5 my-10 w-10/12 md:w-9/12 mx-auto content-start justify-center">
    <div class="section-header grid gap-1 text-center justify-center">
        <h3 class="text-3xl font-semibold text-primaryDark leading-7">Car Rentals</h3>
        <p class="text-xl leading-6 text-gray-600 md:w-10/12 mx-auto tex">
            We offer quality and affordable transportation for your next journey.
        </p>
    </div>
    <div class="container grid gap-6 md:grid-cols-3">
        {% for car in cars %}
            <div class="car-card grid gap-1 border border-solid border-hoverBackgroundColor rounded overflow-hidden">
                <div class="img-wrapper aspect-video">
                    {% for img in car_cover_imgs %}
                        {% if img.car.name == car.name %}
                        <img src="/media/{{ img.img_url }}" alt="{{ car.name }}">
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body grid gap-3 justify-center md:p-5 py-2 px-4">
                    <h2 class="text-2xl text-primaryDark hover:text-primary transition-colors duration-300 ease-in-out font-bold leading-5">{{ car.name }}</h2>
                    <div class="flex flex-wrap gap-x-3 gap-y-1">
                        <p class="flex gap-1 text-base text-neutral-800 leading-5 items-center">
                            <span class="font-medium">Cost of Hire:</span>
                            <span class="font-semibold">
                                <span class="font-medium">&dollar;</span>
                                <span class="text-lg font-bold">{{ car.price }}</span>
                            </span>
                        </p>
                        <p class="flex gap-1 text-base text-neutral-800 leading-5">
                            <span class="font-medium">Reg. No:</span>
                            <span class="font-semibold">{{ car.reg_no }}</span>
                        </p>
                        <p class="flex gap-1 text-base text-neutral-800 leading-5">
                            <span class="font-medium">Number of Seats:</span>
                            <span class="font-semibold">{{ car.seats }}</span>
                        </p>
                    </div>
                    <a href="{% url 'booking:cars' car.slug %}" class="flex justify-center items-center text-lg text-white bg-primaryDark hover:bg-primary px-6 py-1 pb-2 transition-colors duration-300 ease-in-out rounded-lg justify-self-start">Rent Car</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}