<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="Official Website for Kasubi Nakulabye Skills Associations Limited"
        />
        <title>Eruna Safaris</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/utils.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="./assets/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" >
    </head>

    <script>
        tailwind.config = {
          theme: {
            screens : {
                sm: '480px',
                md: '768px',
                lg: '976px',
                xl: '1440px',
            },
            extend: {
                colors: {
                    primary: 'hsl(180, 100%, 20%)',
                    primaryDark: 'hsl(180, 100%, 15%)',
                    primaryLight: 'hsl(180, 100%, 30%)',
                    headerBg: 'hsla(157, 47%, 90%, .8)',
                    hoverBackgroundColor: 'hsla(157, 47%, 90%, 1)',
                }
            },
            fontSize: {
                'xs': '.85rem',
                'sm': '.975rem',
                'tiny': '.975rem',
                'base': '1.1rem',
                'lg': '1.325rem',
                'xl': '1.35rem',
                '2xl': '1.6rem',
                '3xl': '1.975rem',
                '4xl': '2.35rem',
                '5xl': '3rem',
                '6xl': '4rem',
                '7xl': '6rem',
            }
          }
        }
      </script>

    <body>

        <!-- header -->
        <header class="sticky top-0 w-12/12 grid items-center bg-headerBg hover:bg-hoverBackgroundColor transition-colors duration-300 ease-in-out">
            <nav class="flex gap-5 items-center justify-between py-3 md:px-3 w-10/12 md:w-9/12 mx-auto">
                <div class="logo">
                    <a href="./index.html">
                        
                    <a href="./index.html">
                        <h2 class="text-2xl font-semibold text-primaryDark">ErunaSafaris</h2>
                    </a>
                    </a>
                </div>
                <ul class="hidden md:flex gap-10 list-inside items-center justify-between">
                    <li>
                        <a href="" class="text-xl font-medium text-primaryDark hover:text-primaryDark font-bold">Home</a>
                    </li>
                    <li>
                        <a href="./destinations.html" class="text-xl font-medium text-primary hover:text-primaryDark">Destination</a>
                    </li>
                    <li>
                        <a href="./cars.html" class="text-xl font-medium text-primary hover:text-primaryDark">Car Hire</a>
                    </li>
                    <li>
                        <a href="" class="text-xl font-medium text-primary hover:text-primaryDark">Bookings</a>
                    </li>
                    <li>
                        <a href="" class="flex justify-center items-center text-xl font-medium text-white bg-primary hover:bg-primaryDark px-6 py-1 pb-2 transition-colors duration-300 ease-in-out rounded-full">Login</a>
                    </li>
                </ul>
                <button class="flex md:hidden text-primary hover:text-primaryDark hover:font-medium fw-900 px-2 py-1 border border-solid border-primary rounded" id="md-tabs-activator">
                    <i class="fa fa-bars"></i>
                </button>
            </nav>
            <ul class="grid gap-2 list-inside p-5 md-tabs">
                <li class="grid">
                    <a href="" class="text-xl grid justify-center font-medium text-primaryDark hover:text-primaryDark font-bold">Home</a>
                </li>
                <li class="grid">
                    <a href="./destinations.html" class="text-xl grid justify-center items-center font-medium text-primary hover:text-primaryDark">Destination</a>
                </li>
                <li class="grid">
                    <a href="./cars.html" class="text-xl grid justify-center font-medium text-primary hover:text-primaryDark">Car Hire</a>
                </li>
                <li class="grid">
                    <a href="" class="text-xl grid justify-center font-medium text-primary hover:text-primaryDark">Bookings</a>
                </li>
                <li class="grid justify-center">
                    <a href="" class="flex justify-center items-center text-xl grid justify-center font-medium text-white bg-primary hover:bg-primaryDark px-8 md:py-1 pb-2  transition-colors duration-300 ease-in-out rounded-full justify-self-start">Login</a>
                </li>
            </ul>
        </header>
        <!-- header -->

        <!-- hero section -->

        <section class="hero">
            <div class="grid md:flex hero-area gap-12 w-9/12">
                <div class="hero-content">
                    <h1 class="text-white text-5xl md:text-7xl font-black w-8/12">Travel and Explore</h1>
                    <p class="text-2xl font-medium text-slate-200 leading-6">Making your travel dreams a reality.</p>
                    <div class="flex gap-3">
                        <a href="" class="flex justify-center items-center text-2xl text-white bg-primaryDark hover:bg-primary px-8 py-1 pb-2 transition-colors duration-300 ease-in-out rounded-lg justify-self-start">Book Vacation</a>
                    </div>
                </div>
                <div class="side-imgs flex md:grid">
                    <img src="https://images.unsplash.com/photo-1581918629062-2b6cfdd04060?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dWdhbmRhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" data-index="0" data-location="western Uganda" alt="">
                    <img src="https://images.unsplash.com/photo-1553521306-9728831d2983?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHVnYW5kYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" data-index="1" data-location="Eastern Uganda" alt="">
                    <img src="https://images.pexels.com/photos/11264156/pexels-photo-11264156.jpeg?auto=compress&cs=tinysrgb&w=600" data-index="2" data-location="Northern Uganda" alt="">
                </div>
            </div>
            <div class="img-location">
                <p class="flex gap-2 items-center text-xl md:text-slate-100 text-slate-300">
                    <i class="fa fa-map-marker"></i>
                    <span></span>
                </p>
            </div>
        </section>

        <!-- hero section -->

        <!-- business intro -->

        <section class="about md:min-h-screen grid gap-5 mt-9 my-3 mb-0 w-10/12 md:w-9/12 mx-auto justify-center content-start">
            <div class="section-header grid gap-2 text-center justify-center">
                <h3 class="text-3xl font-semibold text-primaryDark">What is Eruna Safaris</h3>
                <p class="text-xl leading-6 text-gray-600 w-10/12 mx-auto">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus in natus, commodi repudiandae
                </p>
            </div>
            <div class="imgs container justify-center">
                <div class="img-wrapper left">
                    <img src="https://images.pexels.com/photos/6056860/pexels-photo-6056860.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" srcset="">
                    <p class="flex gap-2 items-center text-lg text-slate-200 font-medium justify-center p-5">
                        <i class="fa fa-map-marker"></i>
                        <span class="leading-5">Murchison Falls National Park</span>
                    </p>
                </div>
                <div class="img-wrapper center">
                    <img src="https://images.unsplash.com/photo-1614528767034-70de9fe166e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dWdhbmRhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
                    <p class="flex gap-2 items-center text-lg text-slate-200 font-medium justify-center p-5">
                        <i class="fa fa-map-marker"></i>
                        <span class="leading-5">Bwindi Impenetrable National Park</span>
                    </p>
                </div>
                <div class="img-wrapper bottom">
                    <img src="https://images.pexels.com/photos/34098/south-africa-hluhluwe-giraffes-pattern.jpg?auto=compress&cs=tinysrgb&w=600" alt="" srcset="">
                    <p class="flex gap-2 items-center text-lg text-slate-200 font-medium justify-center p-5">
                        <i class="fa fa-map-marker"></i>
                        <span class="leading-5">Lake Mburo National Park</span>
                    </p>
                </div>
                <div class="img-wrapper right">
                    <img src="https://images.pexels.com/photos/10740862/pexels-photo-10740862.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" srcset="">
                    <p class="flex gap-2 items-center text-lg text-slate-200 font-medium justify-center p-5">
                        <i class="fa fa-map-marker"></i>
                        <span class="leading-5">Lake Mburo National Park</span>
                    </p>
                </div>
            </div>
        </section>

        <!-- business intro -->

        <!-- destinations -->

        <section class="min-h-screen grid gap-5 my-10 w-10/12 md:w-9/12 mx-auto content-start justify-center">
            <div class="section-header grid gap-1 text-center justify-center">
                <h3 class="text-3xl font-semibold text-primaryDark">Our Destinations</h3>
                <p class="text-xl leading-6 text-gray-600 md:w-10/12 mx-auto">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit dolor, sit amet.
                </p>
            </div>
            <div class="container grid gap-6 md:grid-cols-3">
                <a href="./destination.html" class="destination-card">
                    <div class="img-wrapper">
                        <img src="https://images.pexels.com/photos/11264156/pexels-photo-11264156.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="card-body flex items-center">
                        <div class="grid gap-1 content-start items-start">
                            <h2 class="text-2xl text-white hover:text-slate-200 transition-colors duration-300 ease-in-out font-bold leading-6">Lake Mburo National Park</h2>
                            <div class="flex gap-2">
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-map-marker"></i>
                                    <span class="text-base">Western Uganda</span>
                                </p>
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-clock-o"></i>
                                    <span class="text-base">2 Days</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-0.5 items-baseline">
                            <span class="font-medium text-slate-100">&dollar;</span>
                            <span class="text-3xl text-white font-bold">100</span>
                        </div>
                    </div>
                </a>
                <a href="./destination.html" class="destination-card">
                    <div class="img-wrapper">
                        <img src="https://images.unsplash.com/photo-1614528767034-70de9fe166e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dWdhbmRhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="card-body flex items-center">
                        <div class="grid gap-1 content-start items-start">
                            <h2 class="text-2xl text-white hover:text-slate-200 transition-colors duration-300 ease-in-out font-bold leading-6">Bwindi Impenetrable National Park</h2>
                            <div class="flex gap-2">
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-map-marker"></i>
                                    <span class="text-base">Western Uganda</span>
                                </p>
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-clock-o"></i>
                                    <span class="text-base">2 Days</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-0.5 items-baseline">
                            <span class="font-medium text-slate-100">&dollar;</span>
                            <span class="text-3xl text-white font-bold">100</span>
                        </div>
                    </div>
                </a>
                <a href="./destination.html" class="destination-card">
                    <div class="img-wrapper">
                        <img src="https://www.murchisonfallsnationalpark.com/wp-content/uploads/2020/07/murchison4.jpg" alt="">
                    </div>
                    <div class="card-body flex items-center">
                        <div class="grid gap-1 content-start items-start">
                            <h2 class="text-2xl text-white hover:text-slate-200 transition-colors duration-300 ease-in-out font-bold leading-6">Murchison Falls National Park</h2>
                            <div class="flex gap-2">
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-map-marker"></i>
                                    <span class="text-base">Western Uganda</span>
                                </p>
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-clock-o"></i>
                                    <span class="text-base">2 Days</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-0.5 items-baseline">
                            <span class="font-medium text-slate-100">&dollar;</span>
                            <span class="text-3xl text-white font-bold">100</span>
                        </div>
                    </div>
                </a>
                <a href="./destination.html" class="destination-card">
                    <div class="img-wrapper">
                        <img src="https://www.queenelizabethparkuganda.com/wp-content/uploads/2019/02/game-viewing-1.jpg" alt="">
                    </div>
                    <div class="card-body flex items-center">
                        <div class="grid gap-1 content-start items-start">
                            <h2 class="text-2xl text-white hover:text-slate-200 transition-colors duration-300 ease-in-out font-bold leading-6">Queen Elizabeth National Park</h2>
                            <div class="flex gap-2">
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-map-marker"></i>
                                    <span class="text-base">Western Uganda</span>
                                </p>
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-clock-o"></i>
                                    <span class="text-base">2 Days</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-0.5 items-baseline">
                            <span class="font-medium text-slate-100">&dollar;</span>
                            <span class="text-3xl text-white font-bold">100</span>
                        </div>
                    </div>
                </a>
                <a href="./destination.html" class="destination-card">
                    <div class="img-wrapper">
                        <img src="https://ugandatourismcenter.com/wp-content/uploads/2016/11/Rwenzori-Mountains-National-Park3.jpg" alt="">
                    </div>
                    <div class="card-body flex items-center">
                        <div class="grid gap-1 content-start items-start">
                            <h2 class="text-2xl text-white hover:text-slate-200 transition-colors duration-300 ease-in-out font-bold leading-6">Rwenzori Mountain National Park</h2>
                            <div class="flex gap-2">
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-map-marker"></i>
                                    <span class="text-base">Western Uganda</span>
                                </p>
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-clock-o"></i>
                                    <span class="text-base">2 Days</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-0.5 items-baseline">
                            <span class="font-medium text-slate-100">&dollar;</span>
                            <span class="text-3xl text-white font-bold">100</span>
                        </div>
                    </div>
                </a>
                <a href="./destination.html" class="destination-card">
                    <div class="img-wrapper">
                        <img src="https://ugandatourismcenter.com/wp-content/uploads/2016/11/Kibale-Forest-National-Park1.jpg" alt="">
                    </div>
                    <div class="card-body flex items-center">
                        <div class="grid gap-1 content-start items-start">
                            <h2 class="text-2xl text-white hover:text-slate-200 transition-colors duration-300 ease-in-out font-bold leading-6">Kibale Forest National Park</h2>
                            <div class="flex gap-2">
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-map-marker"></i>
                                    <span class="text-base">Western Uganda</span>
                                </p>
                                <p class="flex gap-1 text-slate-100 items-center justify-center">
                                    <i class="text-sm fa fa-clock-o"></i>
                                    <span class="text-base">2 Days</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex gap-0.5 items-baseline">
                            <span class="font-medium text-slate-100">&dollar;</span>
                            <span class="text-3xl text-white font-bold">100</span>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        <!-- destinations -->

        <!-- cars -->
        <section class="min-h-screen grid gap-5 my-10 w-10/12 md:w-9/12 mx-auto content-start justify-center">
            <div class="section-header grid gap-1 text-center justify-center">
                <h3 class="text-3xl font-semibold text-primaryDark">Car Rentals</h3>
                <p class="text-xl leading-6 text-gray-600 md:w-10/12 mx-auto">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit dolor, sit amet.
                </p>
            </div>
            <div class="container grid gap-6 md:grid-cols-3">
                <div class="car-card grid gap-1 bg-hoverBackgroundColor rounded overflow-hidden">
                    <div class="img-wrapper aspect-video">
                        <img src="https://images.pexels.com/photos/1683519/pexels-photo-1683519.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="card-body grid gap-2 justify-center md:p-5 py-2 px-4">
                        <h2 class="text-2xl text-primaryDark hover:text-primary transition-colors duration-300 ease-in-out font-bold leading-8">Toyota Landcruser 2008</h2>
                        <div class="flex flex-wrap gap-x-3 gap-y-1">
                            <p class="flex gap-1 text-base text-neutral-800 leading-6 items-center">
                                <span class="font-medium">Cost of Hire:</span>
                                <span class="font-semibold">
                                    <span class="font-medium">&dollar;</span>
                                    <span class="text-lg font-bold">100</span>
                                </span>
                            </p>
                            <p class="flex gap-1 text-base text-neutral-800 leading-6">
                                <span class="font-medium">Reg. No:</span>
                                <span class="font-semibold">UBL 234K</span>
                            </p>
                            <p class="flex gap-1 text-base text-neutral-800 leading-6">
                                <span class="font-medium">Number of Seats:</span>
                                <span class="font-semibold">UBL 234K</span>
                            </p>
                        </div>
                        <a href="" class="flex justify-center items-center text-lg text-white bg-primaryDark hover:bg-primary px-6 py-1 pb-2 transition-colors duration-300 ease-in-out rounded-lg justify-self-start">Rent Car</a>
                    </div>
                </div>
                <div class="car-card grid gap-1 bg-hoverBackgroundColor rounded overflow-hidden">
                    <div class="img-wrapper aspect-video">
                        <img src="https://images.pexels.com/photos/6848900/pexels-photo-6848900.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="card-body grid gap-2 justify-center md:p-5 py-2 px-4">
                        <h2 class="text-2xl text-primaryDark hover:text-primary transition-colors duration-300 ease-in-out font-bold leading-8">Toyota Vits 2016</h2>
                        <div class="flex flex-wrap gap-x-3 gap-y-1">
                            <p class="flex gap-1 text-base text-neutral-800 leading-6 items-center">
                                <span class="font-medium">Cost of Hire:</span>
                                <span class="font-semibold">
                                    <span class="font-medium">&dollar;</span>
                                    <span class="text-lg font-bold">100</span>
                                </span>
                            </p>
                            <p class="flex gap-1 text-base text-neutral-800 leading-6">
                                <span class="font-medium">Reg. No:</span>
                                <span class="font-semibold">UBL 234K</span>
                            </p>
                            <p class="flex gap-1 text-base text-neutral-800 leading-6">
                                <span class="font-medium">Number of Seats:</span>
                                <span class="font-semibold">UBL 234K</span>
                            </p>
                        </div>
                        <a href="" class="flex justify-center items-center text-lg text-white bg-primaryDark hover:bg-primary px-6 py-1 pb-2 transition-colors duration-300 ease-in-out rounded-lg justify-self-start">Rent Car</a>
                    </div>
                </div>
                <div class="car-card grid gap-1 bg-hoverBackgroundColor rounded overflow-hidden">
                    <div class="img-wrapper aspect-video">
                        <img src="https://images.pexels.com/photos/7357628/pexels-photo-7357628.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="card-body grid gap-2 justify-center md:p-5 py-2 px-4">
                        <h2 class="text-2xl text-primaryDark hover:text-primary transition-colors duration-300 ease-in-out font-bold leading-8">Toyota Corona 2008</h2>
                        <div class="flex flex-wrap gap-x-3 gap-y-1">
                            <p class="flex gap-1 text-base text-neutral-800 leading-6 items-center">
                                <span class="font-medium">Cost of Hire:</span>
                                <span class="font-semibold">
                                    <span class="font-medium">&dollar;</span>
                                    <span class="text-lg font-bold">100</span>
                                </span>
                            </p>
                            <p class="flex gap-1 text-base text-neutral-800 leading-6">
                                <span class="font-medium">Reg. No:</span>
                                <span class="font-semibold">UBL 234K</span>
                            </p>
                            <p class="flex gap-1 text-base text-neutral-800 leading-6">
                                <span class="font-medium">Number of Seats:</span>
                                <span class="font-semibold">UBL 234K</span>
                            </p>
                        </div>
                        <a href="" class="flex justify-center items-center text-lg text-white bg-primaryDark hover:bg-primary px-6 py-1 pb-2 transition-colors duration-300 ease-in-out rounded-lg justify-self-start">Rent Car</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- cars -->

        <!-- lounges -->

        <!-- lounges -->


        <!-- footer -->
        <footer class="mt-10 grid bg-headerBg">
            <div class="container grid md:grid-cols-3 justify-evenly py-10 mx-auto text-center gap-5 px-5">
                <div class="flex gap-1 flex-col p-3 items-center">
                    <div class="grid section-heading gap-2 justify-items-center mx-auto">
                        <h2 class="text-lg text-primary font-semibold capitalize">About Us</h2>
                    </div>
                    <p class="p-2">
                        Far far away, behind the word mountains, far from the countries 
                    </p>

                    <div class="flex flex-col gap-1">
                        <span class="flex items-center gap-3">
                            <i class="fa fa-phone text-primary"></i>
                            <span>+256 774 234 503</span>
                        </span>
                        <span class="flex items-center gap-3">
                            <i class="fa fa-envelope text-primary"></i>
                            <span>infor@knsa.org</span>
                        </span>
                    </div>
                </div>
                <div class="hidden md:flex gap-2 flex-col p-3 align-start">
                    <div class="grid section-heading gap-2 justify-items-center items-start mx-auto">
                        <h2 class="text-lg text-primary font-semibold capitalize">Links</h2>
                    </div>
                    <ul class="text-left self-center">
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Destinations</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Car Hire</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flex gap-1 flex-col p-3 items-center">
                    <div class="grid section-heading gap-2 justify-items-center items-start mx-auto">
                        <h2 class="text-lg text-primary font-semibold capitalize">Our Socials</h2>
                    </div>
                    
                    <p class="p-2">
                        Subscribe and follow us via our social media platforms
                    </p>
                    
                    <div class="icons flex gap-3">
                        <a href="">
                            <i class="fa fa-facebook bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid justify-center bg-primary text-white py-5 px-10 text-center">
                <p>
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script>, All rights reserved. Property of erunasafaris.org
                </p>
            </div>
        </footer>

    </body>
    <script src="./assets/js/main.js"></script>
</html>